# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1) Python
2) SQL
3) Ruby
4) Java

Some of the commonly used libraries used by Data Scientists include:

1) Tensorflow
2) Pandas
3) Scipy
4) Pandas

In [5]:
import pandas as pd

In [9]:
data={'Data Science Tools': ['Anaconda','Jupyter','Pycharm','VS Code']}
df=pd.DataFrame(data)
print(df)

  Data Science Tools
0           Anaconda
1            Jupyter
2            Pycharm
3            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers 
print((3*4)+5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min=200
hour=200/60
print(hour)

3.3333333333333335

**Objectives**

* java
* python
* sql
* javascript

## Author

Avinash Yadav